body
{background-color: 2b313a}

h1
{text-align: center;
color: white;
font-family: garamond}

h2
{text-align: center;
color: white;
font-family: garamond;}

p
{text-align: center;
color: white;
font-family: garamond;
font-style: italic;}